@font-face {
    font-family: robotoregular;
    src: url(/assets/5bb286bd/fonts/roboto-regular-webfont.woff2) format("woff2"), url(/assets/5bb286bd/fonts/roboto-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
    font-display: swap
}

@font-face {
    font-family: robotomedium;
    src: url(/assets/5bb286bd/fonts/roboto-medium-webfont.woff2) format("woff2"), url(/assets/5bb286bd/fonts/roboto-medium-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal
    font-display: swap
}

@font-face {
    font-family: robotobold;
    src: url(/assets/5bb286bd/fonts/roboto-bold-webfont.woff2) format("woff2"), url(/assets/5bb286bd/fonts/roboto-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
    font-display: swap
}

@font-face {
    font-family: 'icomoon';
    src: url('/assets/5bb286bd/fonts/icomoon.eot?pauzqc');
    src: url('/assets/5bb286bd/fonts/icomoon.eot?pauzqc#iefix') format('embedded-opentype'), url('/assets/5bb286bd/fonts/icomoon.ttf?pauzqc') format('truetype'), url('/assets/5bb286bd/fonts/icomoon.woff?pauzqc') format('woff'), url('/assets/5bb286bd/fonts/icomoon.svg?pauzqc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    font-display: swap
}

[class^="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-automobile:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e912";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-search1:before {
  content: "\e986";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pricetags:before {
  content: "\e901";
}
.icon-tags:before {
  content: "\e901";
}
.icon-prices:before {
  content: "\e901";
}
.icon-shop:before {
  content: "\e901";
}
.icon-ecommerce:before {
  content: "\e901";
}
.icon-directions_car:before {
  content: "\e903";
}

.card>h1,
.card>h2,
.card>.heading,
.card.card-panel>h1,
.card.card-panel>h2,
.card.card-panel>.heading,
section>h2 {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0px 0px;
    font-family: robotobold;
    display: block
}

.card-panel h1,
.card-panel h2,
.card-panel h3,
.card-panel h4,
.card-panel .heading,
.card-panel .card-title {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0px 0px;
    font-family: robotomedium;
    display: block
}

h1,
h2,
h3,
h4 {
    color: rgba(0, 0, 0, 0.87)
}

body {
    background-color: #e5e5e5;
    font-family: sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    -webkit-overflow-scrolling: touch
}

main {
    position: relative;
    overflow-x: hidden;
    padding: 0 8px
}

a {
    color: rgba(0, 0, 0, 0.54)
}

.block {
    display: block
}

.float-left {
    float: left
}

.text-heading {
    color: rgba(0, 0, 0, 0.87)
}

.border-top {
    border-top: 1px solid #ddd
}

.truncate,
.basic-listing-card .card-link,
.basic-listing-card .card-panel .card-title,
.cta-arrow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.hint,
.card-panel-list {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    line-height: 16px;
    display: block
}

.text-accent {
    color: #12a7c8
}

.text-accent2 {
    color: #f34653
}

.info {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87)
}

.info a {
    color: #12a7c8
}

.card .ex-date {
    display: table
}

.card .ex-date>* {
    display: table-cell;
    vertical-align: middle
}

.top-image {
    margin-top: 55px; 
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px
}

#desktop {
    /*display: block;*/
}

#mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }

}

.card-product-desktop {}

    {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.column-testimoni {
    float: left;
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 600px) {
    .column-product-item {
        float: left;
        width: 40%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .column-post {
        float: left;
        width: 35%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }

    .column-testimoni {
        float: left;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

.price-table {
    border-collapse: collapse;
    font-size: 16px;
    line-height: 21px
}

.price-table th {
    text-align: left;
    color: rgba(0, 0, 0, 0.87)
}

.price-table thead {
    border-bottom: 1px solid #ddd
}

.price-table tr {
    border-bottom: 1px solid #ddd
}

.price-table tr td:last-child,
.price-table tr th:last-child {
    text-align: right
}

.price-table tr td:last-child,
.price-table tr th:last-child {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold
}

.rating-small {
    background: #F79712;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    display: inline-block
}

.rating-small .icon-star-filled {
    padding-left: 2px
}

.rating-small .icon-star-filled:before {
    color: #fff;
    font-size: 11px
}

.table-border {
    border: 1px solid #ddd
}

.table-border th,
.table-border td {
    padding: 0 16px
}

.table-border tr:last-child td {
    padding-bottom: 16px
}

.read-more .collapsed {
    height: 50px;
    overflow: hidden
}

.read-more~button {
    background: transparent;
    border: 0;
    text-align: right;
    color: #12a7c8;
    display: block;
    width: 100%;
    font-family: robotomedium;
    padding-top: 8px;
    font-size: 14px
}

.price-table tr td,
.price-table tr th {
    padding-top: 16px;
    padding-bottom: 16px
}

.padding-small-b {
    padding-bottom: 16px
}

.margin-small-t {
    margin-top: 16px
}

.gr-pad-t {
    padding-top: 8px
}

.gr-mrgn-l {
    margin-left: 8px
}

.gr-mrgn-t {
    margin-top: 8px
}

.gr-mrgn-b {
    margin-bottom: 8px
}

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    -webkit-text-size-adjust: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: 0
}

body {
    background: #e5e5e5;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: robotoregular, sans-serif;
    color: rgba(0, 0, 0, 0.54)
}

p {
    margin: 0px 0px 0px 0px;
    line-height: 21px
}

a,
body,
h1,
h2,
h3,
h4,
li,
p,
ul,
span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-weight: normal
}

.clearfix:after,
.grid-3:after,
.site-header ul.main-header:after,
.card-panel-list:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54)
}

i {
    font-style: normal
}

table {
    width: 100%;
    border-collapse: collapse
}

.grid-3>* {
    width: 33.33333%;
    float: left
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    color: #000
}

.site-header ul.main-header {
    margin: 0;
    padding: 0;
    height: 56px;
    padding: 0 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08)
}

.site-header ul.main-header li {
    float: left;
    vertical-align: middle;
    height: 56px;
    line-height: 56px
}

.site-header ul.main-header li a {
    color: #000;
    display: block;
    padding: 0 8px
}

.site-header ul.main-header li.menu a {
    padding: 10px 15px 0 15px;
}

.site-header ul.main-header li.menu a .icon-bars {
    font-size: 14px
}
.site-header ul.main-header li.search-google {
    padding-left: 15px;
    padding-top: 13px;
}
.site-header ul.main-header li.search,
.site-header ul.main-header li.location {
    float: right;
    padding: 0 8px
}

.site-header ul.main-header li.search i,
.site-header ul.main-header li.location i {
    font-size: 18px
}

.site-header ul.main-header li.search a,
.site-header ul.main-header li.location a {
    padding: 0
}

.site-header ul.main-header li.logo>a>amp-img {
    vertical-align: middle
}

.site-header .icon-bars:before {
    color: #000
}

.breadcrumb {
    padding: 8px 8px 8px 16px;
    line-height: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.05)
}

.breadcrumb li {
    display: inline-block;
    padding-right: 8px;
    position: relative;
    text-transform: capitalize;
    font-size: 10px;
    vertical-align: middle
}

.breadcrumb li a {
    color: #12a7c8
}

.breadcrumb li::after {
    position: absolute;
    right: 2px;
    top: 50%;
    content: "›";
    display: block;
    height: 10px;
    margin-top: -5px
}

.breadcrumb li:last-child {
    color: rgba(0, 0, 0, 0.87)
}

.breadcrumb li:last-child::after {
    content: ""
}

amp-sidebar {
    background: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    width: 260px;
    bottom: 0;
    color: rgba(0, 0, 0, 0.87)
}

amp-sidebar li {
    border-bottom: 1px solid #e8e8e8
}

amp-sidebar li a {
    color: rgba(0, 0, 0, 0.87);
    padding: 16px;
    display: block
}

amp-sidebar li h2 {
    color: rgba(0, 0, 0, 0.87);
    padding: 16px;
    display: block;
    font-size: 14px
}

.nav-close {
    height: 36px;
    position: relative;
    border-bottom: 0
}

.nav-close i {
    font-size: 14px;
    right: 16px;
    top: 0;
    bottom: 0;
    position: absolute;
    line-height: 32px
}

.nav-close i:before {
    color: rgba(0, 0, 0, 0.87)
}

amp-sidebar amp-accordion section>*:last-child {
    background: #f2f2f2;
    padding-bottom: 0
}

amp-sidebar amp-accordion ul {
    list-style-type: none
}

amp-sidebar amp-accordion ul li {
    border-bottom: 1px solid #e4e4e4
}

amp-sidebar amp-accordion ul li:last-child {
    border: 0
}

amp-sidebar amp-accordion>section {
    border-bottom: 0
}

amp-sidebar amp-accordion>section>:first-child {
    background: transparent;
    border: 0px;
    color: #000;
    font-size: 14px;
    font-family: robotoregular, sans-serif
}

amp-sidebar amp-accordion>section>:first-child:before {
    right: 16px;
    color: #000
}

.li-language {
    padding: 16px
}

.li-language a {
    display: inline-block;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    text-transform: uppercase
}

footer {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 8px
}

footer ul li {
    display: inline-block;
    padding: 0 0 0 4px
}

footer ul li:last-child {
    display: block
}

footer ul li a {
    padding-right: 4px
}

.card {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 8px
}

.card>h1,
.card>h2,
.card>.heading {
    padding: 16px
}

.card>a {
    display: block
}

.card .ex-date {
    padding: 8px;
    line-height: 18px;
    background: #ccc3;
    font-size: 12px;
    width: 100%
}

.card .ex-date>* {
    vertical-align: top
}

.card .ex-date .ex-label {
    position: relative;
    padding-left: 20px
}

.card .ex-date .ex-label:before {
    position: absolute;
    left: 0;
    font-family: icomoon, sans-serif;
    font-size: 14px
}

.card .ex-date b {
    color: rgba(0, 0, 0, 0.87);
    min-width: 62px;
    text-align: right
}

.card-panel {
    padding: 16px
}

.card-panel h1,
.card-panel h2,
.card-panel h3,
.card-panel h4,
.card-panel .heading,
.card-panel .card-title {
    padding-bottom: 16px
}

.card-panel-price {
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-family: robotomedium;
    display: block
}

.card-panel-price .hint {
    font-weight: normal
}

.card-panel-list>* {
    float: left;
    padding: 0 10px;
    position: relative;
    line-height: 14px
}

.card-panel-list>*:before {
    height: 5px;
    width: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: grey;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 6px
}

.card-panel-list>*:first-child {
    padding-left: 0px
}

.card-panel-list>*:first-child:before {
    width: 0;
    height: 0
}

.card.card-panel>h1,
.card.card-panel>h2,
.card.card-panel>.heading {
    padding: 0;
    padding-bottom: 16px
}

section>h2 {
    padding: 16px
}

amp-carousel .card .ex-date {
    min-height: 52px
}

amp-accordion>* {
    border-bottom: 1px solid #ddd
}

amp-accordion>*>*:first-child {
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0px 0px;
    font-family: robotomedium;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    background: transparent;
    border: 0
}

amp-accordion>*>*:first-child:before {
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    font-size: 16px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.87)
}

amp-accordion>*>*:last-child {
    padding-bottom: 16px
}

amp-accordion>*:last-child {
    border-bottom: 0
}

.basic-listing-card amp-carousel {
    text-align: center
}

.basic-listing-card .card {
    border: 1px solid #ddd;
    margin-bottom: 0;
    box-shadow: 0 0 0;
    text-align: left;
    white-space: normal
}

.basic-listing-card .card-panel {
    padding-bottom: 0;
    padding-top: 0
}

.basic-listing-card .card-panel .card-title {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0px 0px;
    font-family: robotomedium;
    display: block;
    display: block;
    padding: 16px 0
}

.basic-listing-card .card-panel .heading {
    padding: 16px 0
}

.basic-listing-card .card-panel-list {
    min-height: 18px
}

.basic-listing-card .card-panel-price {
    font-size: 18px;
    line-height: 21px
}

.basic-listing-card .card-panel-price .hint {
    padding-top: 6px;
    color: rgba(0, 0, 0, 0.54)
}

.basic-listing-card amp-carousel .card-panel-price.height43 {
    min-height: 51px
}

.basic-listing-card amp-carousel .card:first-child {
    margin-left: 8px
}

.basic-listing-card amp-carousel .card:last-child {
    margin-right: 8px
}

.basic-listing-card amp-carousel .card {
    width: 290px;
    vertical-align: top
}

.card-link,
.cta-arrow {
    display: block;
    height: 48px;
    line-height: 48px;
    font-weight: normal;
    font-family: robotomedium;
    padding: 0;
    text-align: center;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none
}

.card-link {
    font-size: 16px;
    color: #12a7c8;
    background: rgba(0, 0, 0, 0)
}

.cta-arrow {
    color: #12a7c8;
    text-align: left;
    position: relative;
    padding: 0 16px
}

.cta-arrow:before {
    font-family: 'icomoon', sans-serif;
    position: absolute;
    right: 16px;
    color: inherit
}

.text-accent2 {
    color: #f34653
}

.rating {
    font-size: 12px
}

.rating>i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    vertical-align: top
}

.rating .ic-star-filled {
    background: url("/assets/5bb286bd/images/star-filled.svg") no-repeat center/100% auto
}

.rating .ic-star-half {
    background: url("/assets/5bb286bd/images/star-half.svg") no-repeat center/100% auto
}

.gr-listview>* {
    border-bottom: 1px solid #ddd;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block
}

.gr-listview>*:first-child {
    padding-top: 0
}

.gr-listview>*:last-child {
    border-bottom: 0;
    padding-bottom: 0
}

.card-icon {
    background: #fff;
    text-align: center;
    display: block;
    min-height: 96px;
    border: 1px solid #ddd;
    position: relative;
    align-content: center
}

.card-icon i {
    display: block;
    font-size: 32px;
    padding: 15px 0 5px 0
}

.card-icon i:before {
    color: #2a2a2a
}

.variants-compare-list tbody tr {
    border-bottom: 1px solid #ddd;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative
}

.variants-compare-list tbody tr td {
    display: block
}

.variants-compare-list tbody tr td a {
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0px 0px;
    font-family: robotomedium;
    display: block;
    padding-bottom: 8px
}

.variants-compare-list tbody tr td .card-panel-price {
    font-size: 14px;
    margin-bottom: 8px;
    display: block
}

.variants-compare-list tbody tr:last-child {
    border-bottom: 0
}

.user-reviews.basic-listing-card li.card {
    min-height: 265px
}

.user-reviews.basic-listing-card .card-panel {
    padding-bottom: 16px
}

.user-reviews.basic-listing-card .info {
    white-space: normal
}

.user-reviews.basic-listing-card .rating-small {
    margin: 8px 0
}

.user-reviews.basic-listing-card .card-panel .heading {
    display: block;
    padding-bottom: 0;
    white-space: normal
}

.user-reviews.basic-listing-card .text-accent {
    font-size: 16px
}

.line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    text-decoration: initial;
    outline: initial
}

.line-clamp:after {
    content: '...';
    text-align: right;
    bottom: 0;
    right: 0;
    width: 25%;
    display: block;
    position: absolute;
    height: calc(1em * 1.5);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 75%)
}

@supports (-webkit-line-clamp: 1) {
    .line-clamp:after {
        display: none
    }
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.5 * 3)
}

.site-header+* {
    margin-top: 56px
}

header.card.card-panel h1 {
    padding-bottom: 0
}

header.card.card-panel .rating {
    display: block
}

header.card.card-panel .rating .hint {
    padding-top: 4px;
    font-style: italic;
    line-height: 1.5
}

.brand-content amp-accordion>*:last-child .price-table tr:last-child {
    border-bottom: 1px solid #ddd
}

.brand-content amp-accordion>*>*:first-child {
    padding-left: 0
}

.brand-content amp-accordion>*>*:last-child {
    padding-bottom: 0;
    border-bottom: 0
}

.brand-content .price-table tr:last-child {
    border-bottom: 0
}

.listing .card {
    margin-bottom: 8px
}

.listing .card .card-panel {
    padding-bottom: 0;
    position: relative
}

.listing.basic-listing-card>.card {
    width: auto
}

.listing .heading {
    padding-bottom: 8px
}

.listing .card-panel-price {
    padding-bottom: 8px
}

.listing .card-panel .card-link {
    height: 48px;
    line-height: 48px;
    padding-top: 0
}

.listing .border-top {
    border-top: 1px solid #ddd
}

.vs-float-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 999
}

.vs-float-button .vs-float-whatsapp {
    border-radius: 50%;
    color: white;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.vs-float-button .vs-float-whatsapp:hover {
    background: #5ccf54;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.vs-float-button .vs-float-whatsapp:hover a {
    color: white
}

@media screen and (max-width:39.9375em) {
    .vs-float-button {
        right: 12px
    }
}

@media screen and (max-width:39.9375em) {
    .on-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:64em) {
    .on-phone {
        display: none
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
    .on-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width:39.9375em) {
    .on-desktop {
        display: none
    }
}

@media screen and (min-width:64em) {
    .on-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
    .on-desktop {
        display: none
    }
}

#phone {
    position: fixed;
    bottom: 24px;
    left: 13px;
}

/*share*/
.menu-button {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    right: 10px;
    bottom: 170px;
    width: 46px;
    height: 46px;
    text-align: right;
    line-height: 46px;
    border-radius: 50%;
    background-color: #d5320d;
    color: #FFFFFF;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.menu-button:hover {
    background: #d81558;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.menu-button a {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.menu-button a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.menu-button a:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #3495de;
}

.menu-button a:nth-child(3) {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    transition-delay: 0.4s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #6acdf9;
}

.menu-button a:nth-child(4) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #469646;
}

.menu-button:hover a {
    opacity: 1;
    width: 46px;
    height: 46px;
}

.menu-button:hover a:nth-child(2) {
    right: 80px;
    bottom: 0px;
}

.menu-button:hover a:nth-child(2):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #3ea1ec;
}

.menu-button:hover a:nth-child(3) {
    right: 65px;
    bottom: 65px;
}

.menu-button:hover a:nth-child(3):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #2196f3;
}

.menu-button:hover a:nth-child(4) {
    right: 0px;
    bottom: 80px;
}

.menu-button:hover a:nth-child(4):hover {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    background: #6dcd6c;
}

.beli-sekarang {
    display: flow-root;
    height: 40px;
    line-height: 37px;
    border: 1px solid #133f6b;
    vertical-align: middle;
    text-align: center;
    background: #6dcd6c;
    color: #fff;
    border-radius: 2px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, .08);
}

.tabel-harga {
    width: 100%;
    border-collapse: collapse;
}
.tabel-harga thead {
    padding: 12px 16px;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    background-color: #F6F6F6;
    font-family: MuseoSans, sans-serif;
} 
.tabel-harga td {
    padding: 8px 7px;
}
.tabel-harga tbody tr:nth-child(even) {
    background-color: #F6F6F6;
    }

amp-img.contain img {
   object-fit: cover;
 }
 
.fixed-height-container {
   position: relative;
   width: 100%;
   height: 300px;
 }

form.search input[type=text] {
  padding: 2px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin:auto;
  max-width:200px
}

form.search button {
  float: left;
  width: 20%;
  padding: 6px;
  background: #2196F3;
  color: white;
  font-size: 11px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}