<section class="card user-reviews padding-small-b">
    <div><h2>Kata Mereka, {{ site.company }}</h2><span class="hint"><a href="https://search.google.com/local/writereview?placeid=ChIJSdI5tmb71y0RHq1F_d2DJc0">Berdasarkan rating dan ulasan di Google Maps&trade;, Anda juga dapat memberikan rating untuk layanan kami dengan klik link ini, Terimakasih</a></span></div>
    <br>
    <ul class="basic-listing-card user-reviews">
        <amp-carousel type="carousel" height="266" controls>
            {% for item in site.data-client %}
            <li class="card card-panel">
                <a class="heading" href="{{ item.url }}">{{ item.judul-komentar }}</a>
                <span class="rating-small"><i class="icon-star-full"></i> {{ item.rating }}</span>
                <span class="gr-mrgn-l">{{ item.nama-unit }}</span>
                <p class="info line-clamp line-clamp-3">{{ item.komentar }}</p>
                <a href="{{ item.url }}" title="{{ item.judul-komentar }}" class="font16 text-accent">
                    Baca Selengkapnya </a>
                <p class="text-heading gr-mrgn-t">{{ item.nama-client }}</p>
                <span class="hint gr-mrgn-b">{{ item.tanggal-beli | date: "%-d %B %Y" }}</span>
            </li>
            {% endfor %}
        </amp-carousel>
    </ul>
</section>