<footer>
    <ul>
        <li><a href="/tentang-kami/" title="Tentang Kami">Tentang Kami</a>|
        </li>
        <li><a href="/hubungi-kami/" title="Kontak Kami">Hubungi Kami</a>|</li>
        <li><a href="/kebijakan-privasi/" title="Privasi">Kebijakan Privasi</a>|
        </li>
        <li><a href="/syarat-dan-ketentuan/" title="S&K">S&K</a>
        </li>
        <br>
        <li>{{ site.copyright }} </li>
        <li>
            <a href="https://klikada.com">Design and Maintenance by<amp-img title="klikada.com" alt="klikada.com" height="12" width="100" layout="fixed" src="/images/klikada-panjang.svg"></amp-img></a>
            <a class="dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID={{ site.DMCA }}" title="DMCA.com Protection Status"><amp-img alt="DMCA.com Protection Status" title="DMCA.com Protection Status" height="20" width="100" layout="fixed" src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID={{ site.DMCA }}" /></amp-img></a>
        </li>
    </ul>
</footer>