<header class="site-header ramadan ">
    <ul class="main-header on-phone">
        <li class="menu">
            <a title="Menu" on="tap:sidebar.toggle">
                <amp-img src="/images/hamburger.svg" alt="Menu" width="28px" height="28px" noloading></amp-img>
            </a>
        </li>
        <li class="logo">
            <a href="/" title="{{ site.company }}">
                <amp-img src="{{ site.logo }}" alt="{{ site.alt-logo }}" width="184px" height="35px" noloading></amp-img>
            </a>
        </li>
        <li class="search" role="button" tabindex="0" aria-label="facebook">
            <a title="facebook" class="srch_icon" href="{{ site.facebook }}">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li class="location" aria-label="instagram">
            <a title="instagram" href="{{ site.instagram }}">
                <i class="icon-instagram"></i>
            </a>
        </li>
    </ul>
    <ul class="main-header on-desktop">
        <li class="logo">
            <a href="/" title="{{ site.company }}">
                <amp-img src="{{ site.logo }}" alt="{{ site.alt-logo }}" width="150px" height="34px"></amp-img>
            </a>
        </li>
        <li>
            <a href="/" title="Home"><span class="icon-home"></span> Home</a>
        </li>
        <li>
            <a href="/harga/" title="Harga"><span class="icon-price-tags"></span> Harga</a>
        </li>
        <li>
            <a href="/testimoni/" title="Testimoni"><span class="icon-star-full"></span> Testimoni</a>
        </li>
        <li>
            <a href="/blog/" title="Artikel"><span class="icon-newspaper"></span> Blog</a>
        </li>
        <li>
            <a href="/tentang-kami/" title="Tentang Kami"><span class="icon-briefcase"></span> Tentang Kami</a>
        </li>
        <li>
            <a href="/kontak-kami/" title="Kontak Kami"><span class="icon-phone"></span> Kontak Kami</a>
        </li>
        <li class="search" role="button" tabindex="0">
            <a class="srch_icon" href="{{ site.facebook }}" title="facebook {{ site.company }}">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li class="location">
            <a href="{{ site.instagram }}" title="instagram {{ site.company }}">
                <i class="icon-instagram"></i>
            </a>
        </li>
        <li class="search-google" role="button" tabindex="0">
            {% include search-google.html %}
        </li>
    </ul>
</header>