<amp-sidebar id="sidebar" layout="nodisplay" side="left">
    <ul>
        <li class="nav-close" on="tap:sidebar.close" role="button" tabindex="0">
            <i class="icon-cross"></i>
        </li>
        <li>
            <a href="/" title="Home"><span class="icon-home"></span> Home</a>
        </li>
        <li>
            <a href="/harga/" title="Harga"><span class="icon-price-tags"></span> Harga</a>
        </li>
        <li>
            <a href="/testimoni/" title="Testimoni"><span class="icon-star-full"></span> Testimoni</a>
        </li>
        <li>
            <a href="/blog/" title="Artikel"><span class="icon-newspaper"></span> Blog</a>
        </li>
        <li>
            <a href="/tentang-kami/" title="Tentang Kami"><span class="icon-briefcase"></span> Tentang Kami</a>
        </li>
        <li>
            <a href="/kontak-kami/" title="Kontak Kami"><span class="icon-phone"></span> Kontak Kami</a>
        </li>
        <!-- <li>
            <a href="/happystyle.apk" title="Download Aplikasi Gratis">
                Download Aplikasi GRATIS </a>
        </li> -->
        <li class="li-language clearfix">
            <div class="float-left">
                &nbsp; &nbsp; &nbsp;
                <a href="tel:{{ site.telephone }}" title="Telephone {{ site.company }}">
                    <span class="icon-phone"></span>
                </a> &nbsp; &nbsp; &nbsp;
                <a href="sms:{{ site.telephone }}" title="SMS {{ site.company }}">
                    <span class="icon-bubbles"></span>
                </a> &nbsp; &nbsp; &nbsp;
                <a href="{{ site.whatsapp-api }}" title="whatsapp {{ site.company }}">
                    <span class="icon-whatsapp"></span>
                </a>
            </div>
        </li>
        <li class="li-language clearfix">
            <div class="float-left">
                {% include search-google.html %}
            </div>
        </li>
    </ul>
</amp-sidebar>