<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "Safa Jaya",
  "alternateName": "Safa Rent Car",
  "url": "https://safajaya.com",
  "logo": "https://safajaya.com/images/safajaya-512x512.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "081234220073",
    "contactType": "customer service",
    "areaServed": "ID",
    "availableLanguage": ["Indonesian","en"]
  },{
    "@type": "ContactPoint",
    "telephone": "081234220073",
    "contactType": "reservations",
    "areaServed": "ID",
    "availableLanguage": ["Indonesian","en"]
  }],
  "sameAs": "https://safajaya.com"
}
</script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "AutoRental",
    "priceRange": "Rp.200.000 - Rp.1.100.000",
    "image": [
        "https://safajaya.com/images/alex-512x512.jpg"
    ],
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Surabaya",
        "addressRegion": "Jawa Timur",
        "postalCode": "60295",
        "streetAddress": "Jl. Medokan Sawah Timur Gg IV No 74"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": -7.330326,
        "longitude": 112.804811
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "5",
        "reviewCount": "6"
    },
    "name": "Safa Jaya",
    "url": "https://safajaya.com",
    "email": "cs@safajaya.com",
    "telephone": "081234220073",
    "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
    },
    "sameAs": "https://safajaya.com"
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Safa Jaya",
    "url": "https://safajaya.com",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "google.com/search?sitesearch=safajaya.com&q={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script>