<!doctype html>
<html amp lang="{{ site.lang }}">

<head>
    <title>{{ page.title }} | {{ site.company }}</title>
    {% include metadata.html %}
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script custom-element="amp-sidebar" async src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async="async" custom-element="amp-carousel"></script>
    <script src="https://cdn.ampproject.org/v0/amp-selector-0.1.js" async="async" custom-element="amp-selector"></script>
    <script src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async="async" custom-element="amp-accordion"></script>
    <script src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async="async" custom-element="amp-lightbox"></script>
    <script src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async="async" custom-element="amp-bind"></script>
    <script src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async="async" custom-element="amp-list"></script>
    <script src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async="async" custom-template="amp-mustache"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <style amp-custom>﻿
    <style amp-custom>﻿
        {% include amp-style-home.html %}
    </style>
    {% include amp-boilerplate.html %}
</head>

<body>
    <amp-analytics type="googleanalytics" id="analytics-ga">
      <script type="application/json">
      {
        "vars": {
          "account": "{{ site.id_pelacakan_ga }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
    </amp-analytics>
    {% include header.html %}
    {% include slider.html %}
    <main class="home-page">
        <header class="card card-panel">
            <h1>{{ page.title }}</h1>
            <br>
            <!-- breadcrumb Start -->
            <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home",
                    "item": "{{ site.url }}"
                }, {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "{{ page.title }}",
                    "item": "{{ site.url }}{{ page.url }}"
                }]
            }
            </script>
            <ul class="breadcrumb">
                <li><a href="/" title="Home">Home</a></li>
                <li class="active"><a href="/blog/" title="Blog">{{ page.title }}</a></li>
            </ul>
            <!-- breadcrumb End -->
            <div class="read-more brand-content">
                <div class="collapsed" [class]="brandContent[brandContent.currentState].style">
                    <p class="info gr-mrgn-t">{{ page.description-panjang }}</p>
                </div>
            </div>
            <button on="tap:AMP.setState({brandContent : {currentState: (brandContent.currentState == 'Tutup' ? 'Baca Selengkapnya' : 'Tutup')}})" [text]=" brandContent.currentState">Baca Selengkapnya</button>
        </header>
    </main>
    <main class="listing-page">
        <amp-state id="brandContent">
            <script type="application/json">
            {
                "currentState": "Baca Selengkapnya",
                "Hide": {
                    "style": "expanded"
                },
                "Baca Selengkapnya": {
                    "style": "collapsed"
                }
            }
            </script>
        </amp-state>
        <ul class="listing basic-listing-card">
            <div class="row">
                {% for post in site.posts %}
                <div class="column-testimoni">
                    <div class="card">
                        <a href="{{ post.url }}">
                            <amp-img src="{{ post.image }}" width="3" height="2" alt="{{ post.judul-komentar }}" title="{{ post.judul-komentar }}" layout="responsive"></amp-img>
                        </a>
                        <div class="card-panel">
                            <ul class="basic-listing-card user-reviews">
                                <a class="heading" href="{{ post.url }}">{{ post.judul-post }}</a>
                                <span class="rating-small">{{ post.kolom }}</span>
                                <span class="gr-mrgn-l">Ditulis oleh : {{ post.nama-penulis }}</span>
                                <span class="hint gr-mrgn-b">Tanggal terbit {{ post.date | date: "%-d %B %Y"}}</span>
                                <p class="info line-clamp line-clamp-3">{{ post.description }}</p>
                                <a href="{{ post.url }}" title="{{ post.judul-post }}" class="font16 text-accent">
                                    Baca Selengkapnya </a>
                                <p class="text-heading gr-mrgn-t"></p>
                                <span class="hint gr-mrgn-b"></span>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </ul>
        {% include produk-lain.html %}
    </main>
    {% include nav.html %}
    {% include footer.html %}
    {% include serviceworker.html %}
    {% include float-button.html %}
</body>

</html>