<!doctype html>
<html amp lang="{{ site.lang }}">

<head>
    <title>{{ page.title }} | {{ site.company }}</title>
    {% include metadata.html %}
    <link rel="preconnect" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script custom-element="amp-sidebar" async src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async="async" custom-element="amp-carousel"></script>
    <script src="https://cdn.ampproject.org/v0/amp-selector-0.1.js" async="async" custom-element="amp-selector"></script>
    <script src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async="async" custom-element="amp-accordion"></script>
    <script src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async="async" custom-element="amp-lightbox"></script>
    <script src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async="async" custom-element="amp-bind"></script>
    <script src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async="async" custom-element="amp-list"></script>
    <script src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async="async" custom-template="amp-mustache"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-facebook-comments" src="https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js"></script>
    <script async custom-element="amp-facebook-like" src="https://cdn.ampproject.org/v0/amp-facebook-like-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <style amp-custom>
        {% include amp-style-home.html %}
    </style>
    {% include amp-boilerplate.html %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}{{ page.url }}"
      },
      "headline": "{{ page.title }}",
      "description": "{{ page.description }}",
      "image": "{{ site.url }}{{ page.image }}",  
      "author": {
        "@type": "Person",
        "name": "{{ page.nama-penulis }}"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "Safa Jaya",
        "logo": {
          "@type": "ImageObject",
          "url": "https://www.safajaya.com/images/safajaya-600x60.png",
          "width": 600,
          "height": 60
        }
      },
      "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
      "dateModified": "{{ page.modified-date }}"
    }
    </script>
</head>

<body>
    {% include header.html %}
    <main class="home-page">
        <div class="card card-panel">
            <li class="card">
                <div class="card-panel">
                    <ul class="basic-listing-card user-reviews">
                        <h1 class="heading" title="{{ page.title-h1 }}">{{ page.title-h1 }}</h1>
                        <!-- breadcrumb Start -->
                        <script type="application/ld+json">
                        {
                          "@context": "https://schema.org/", 
                          "@type": "BreadcrumbList", 
                          "itemListElement": [{
                            "@type": "ListItem", 
                            "position": 1, 
                            "name": "Home",
                            "item": "{{ site.url }}"  
                          },{
                            "@type": "ListItem", 
                            "position": 2, 
                            "name": "Tentang Kami",
                            "item": "{{ site.url }}/tentang-kami/"  
                          },{
                            "@type": "ListItem", 
                            "position": 3, 
                            "name": "{{ page.title-h1 }}",
                            "item": "{{ site.url }}{{ page.url }}"  
                          }]
                        }
                        </script>
                        <ul class="breadcrumb">
                            <li><a href="/" title="Home">Home</a></li>
                            <li class="active"><a href="/tentang-kami/" title="Tentang Kami">Tentang Kami</a></li>
                            <li class="active"><a title="{{ page.title-h1 }}">{{ page.title-h1 }}</a></li>
                        </ul>
                        <!-- breadcrumb End -->
                        <br>
                        <div class="card">
                            <p class="rating-small">{% include reading-time.html %}</p>
                        </div>
                        <br>
                        <div class="fixed-height-container">
                            <amp-img class="contain" src="{{ page.image }}" alt="{{ page.title-h1 }}" title="{{ page.title-h1 }}" layout="fill"></amp-img>
                        </div>
                        <br>
                        <div class="card">
                            <p>
                                <i>Share on : </i>&nbsp;&nbsp;&nbsp;
                                <a href="https://www.facebook.com/dialog/share?app_id={{ site.fb_app_id }}&display=popup&href={{ site.url }}{{ page.url }}" rel="noreferrer"><i class="icon-facebook"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="https://twitter.com/intent/tweet?text={{ page.title }}%0A{{ page.description }}%0A{{ site.url }}{{ page.url }}"><i class="icon-twitter" rel="noreferrer"></i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="https://api.whatsapp.com/send?phone=&text={{ page.title }}%0A{{ page.description }}%0A{{ site.url }}{{ page.url }}" rel="noreferrer"><i class="icon-whatsapp"></i></a>
                            </p>
                            <br>
                            <p>
                                <amp-facebook-like width="110" height="20" layout="fixed" data-layout="button_count" data-href="{{ site.siteurl }}{{ page.url }}">
                                </amp-facebook-like>
                            </p>
                            <br>
                            <p><span>Ditulis oleh : {{ page.nama-penulis }}</span>, <span>dipublikasi pada : {{ page.date | date: "%-d %B %Y" }}</span> <span>dan diperbaharui pada : {{ page.modified-date | date: "%-d %B %Y" }}</span></p>
                        </div>
                        <div>
                            {{ content }}
                        </div>
                        <span class="hint gr-mrgn-b"></span>
                        <br>
                        <div class="card">
                            <amp-facebook-comments width="552" height="310" layout="responsive" data-numposts="5" data-href="{{ site.siteurl }}{{ page.url }}">
                            </amp-facebook-comments>
                        </div>
                    </ul>
                    <br>
                    <section class="card user-reviews padding-small-b" id="info-tentang-kami">
                        <ul class="listing basic-listing-card">
                            <!--Info Terbaru-->

                                <h2>Info Tentang Kami</h2>
                                <ul>
                                    <amp-carousel height="400" type="carousel" controls>
                                        {% for item in site.data-artikel %}
                                        <li class="card">
                                            <a href="{{ item.url }}" title="{{ item.title-h1 }}">
                                                <amp-img src="{{ item.image }}" width="3" height="2" alt="{{ item.title-h1 }}" title="{{ item.title-h1 }}" layout="responsive"></amp-img>
                                            </a>
                                            <div class="card-panel">
                                                <ul class="basic-listing-card user-reviews">
                                                    <a class="heading" href="{{ item.url }}" title="{{ item.title-h1 }}">{{ item.title-h1 }}</a>
                                                    <span class="hint gr-mrgn-b">{{ item.description }}</span>
                                                </ul>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </amp-carousel>
                                </ul>
                                <a class="cta-arrow" href="/tentang-kami/#info-tentang-kami" title="Lihat Semua Info Terbaru">Lihat Semua Info Tentang Kami</a>

                        </ul>
                    </section>
                </div>
            </li>
        </div>
    </main>
    {% include nav.html %}
    {% include footer.html %}
    {% include serviceworker.html %}
    {% include float-button.html %}
</body>

</html>