<!doctype html>
<html amp lang="{{ site.lang }}">

<head>
    <title>{{ page.title }} | {{ site.company }}</title>
    {% include metadata.html %}
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script custom-element="amp-sidebar" async src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
    <script src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async="async" custom-element="amp-carousel"></script>
    <script src="https://cdn.ampproject.org/v0/amp-selector-0.1.js" async="async" custom-element="amp-selector"></script>
    <script src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async="async" custom-element="amp-accordion"></script>
    <script src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js" async="async" custom-element="amp-lightbox"></script>
    <script src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async="async" custom-element="amp-bind"></script>
    <script src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async="async" custom-element="amp-list"></script>
    <script src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async="async" custom-template="amp-mustache"></script>
    <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <style amp-custom>
    {% include amp-style-home.html %}
    </style>
    {% include amp-boilerplate.html %}
</head>

<body>
    <amp-analytics type="googleanalytics" id="analytics-ga">
      <script type="application/json">
      {
        "vars": {
          "account": "{{ site.id_pelacakan_ga }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
    </amp-analytics>
    {% include header.html %}
    {% include slider.html %}
    <main class="home-page">
        <div class="card card-panel">
            <li class="card">
                <div class="card-panel">
                    <ul class="basic-listing-card user-reviews">
                        <h1 class="heading" title="{{ page.title }}">{{ page.title }}</h1>
                        <!-- breadcrumb Start -->
                        <script type="application/ld+json">
                            {
                              "@context": "https://schema.org/", 
                              "@type": "BreadcrumbList", 
                              "itemListElement": [{
                                "@type": "ListItem", 
                                "position": 1, 
                                "name": "Home",
                                "item": "{{ site.url }}"  
                              },{
                                "@type": "ListItem", 
                                "position": 2, 
                                "name": "{{ page.title }}",
                                "item": "{{ site.url }}{{ page.url }}"  
                              }]
                            }
                        </script>
                        <ul class="breadcrumb">
                            <li><a href="/" title="Home">Home</a></li><br>
                            <li class="active"><a title="{{ page.title }}">{{ page.title }}</a></li>
                        </ul>
                        <!-- breadcrumb End -->
                        <div class="text-heading gr-mrgn-t">
                            {{ content }}
                        </div>
                        <span class="hint gr-mrgn-b"></span>
                    </ul>
                </div>
            </li>
        </div>
    </main>
    {% include nav.html %}
    {% include footer.html %}
    {% include serviceworker.html %}
    {% include float-button.html %}
</body>

</html>